/* CUSTOM
-------------------------------------------------- */

.featured-items a {
  color: black;
  text-decoration: none;
  margin-top: 5px;
}

  /* RESPONSIVE CSS
-------------------------------------------------- */